* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: #073b4c;
    font-family: 'Times-Roman', sans-serif;
}
p{font-size:24px;}
.title{
    text-align: center;
    font-size: 30px;
    margin-top: 5vw;
}
.gameContainer {
    max-width: 75vw;
    min-height: 500px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 5vw;
	background-color: #118ab2;
    height: 25vw;
    margin-top:5vw;
}

h1 {
    color: #06d6a0;
}

h1 + p {
    color: #06d6a0;
}
.description{
    margin-bottom: 10px;
}
.scoreContainer {
    display:flex;
    flex-direction: column;
    float: left;
}
.timeContainer {
    display:flex;
    flex-direction: column;

    float: right;
}


button {
  border-style: none;
  background-color: #06d6a0;
  box-shadow: 0px 5px 0px 0px #06d6a0;
  outline: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #073b4c;
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.bg {
	background-color: #06d6a0;
}
.scoreContainer p, .scoreContainer span, .timeContainer p, .timeContainer span {
    font-size: 30px;
    color: #073b4c;
}

.wordsContainer {
	margin-top: 50px;
}

.words span{
    text-align: center;
    font-size: 60px;
    letter-spacing: 1px;
    color: #ef476f;
    height:50%
}
.wordBank{
    position: absolute;
    color: #06d6a0;
}
.wordBankContainer{
    float:left;
    position: absolute;
    color: #073b4c
}
.wordBankWord{
    text-align: left;
    display:flex;
    flex-direction: column;
}


